/* Estilo adicional para el botón del carrito */
#cart-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
}

/* Estilo para el contenedor del carrito */
#cart-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 9999;
    display: none; /* Se oculta por defecto */
}

/* Estilos para el botón de cerrar del carrito */
#cart-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Estilos para el icono del carrito */
.icons-cart {
    font-size: 24px;
    margin-right: 10px;
}